html {
  font: normal 15px/19px "IBM Plex Sans","VT323", "Lucida Sans Unicode", verdana, lucida,
  sans-serif;
background : #352EF2;
background-image :
  linear-gradient(#446FF2 1px, transparent 0),
  linear-gradient(90deg, #446FF2 1px, transparent 0);
background-size: 30px 30px;
  background-attachment: fixed;   
  height: 100%;
  width: 100%;
color:white;
}

body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* nav start */
nav {
color:white;
width: 230px;
position: fixed;
top: 220px;
left:50%;
border-radius:10px;
padding:10px;
margin-left:-580px;
text-align: right;
overflow: hidden;


ul {
  list-style: none;
  list-style-image: none;
  font-size: 14px;
  line-height: 24px;
  transition: 0.5s;

  li {
    padding: 5px 0px;
    line-height: 16px;
    // padding-right:17px;
    // position:relative;
    // right:-12px;

    &.tag-h1 {
      font-size: 1em;
      font-size:11px;
      text-decoration:none;
      font-weight:600;
      

      a {
        font-weight: bold;
        color: whitesmoke;
        
      }

      + .tag-h2 {
      }
    }

    &.tag-h2 {
      + .tag-h1 {
        margin-top: 10px;
      }
    }
  }

  a {
    color: white;

    &:hover {
      
      font-size: 110%;
    }
  }

  // .active {
  //   border-right:solid 4px #39C;
  //   padding-right:13px;
  // }
}
}


#nav a
{
display: block;
color: #333;
background-color: transparent;
width: 140px;
padding: 2px 10px;
text-decoration: none;
border-top: 1px solid #aaa;
border-bottom: 1px solid #aaa;
border-right: 1px solid #aaa;
font-size: 12px;
}

#nav a:hover
{
background-color: #ddd;
color: #333;
border-right: 10px solid #aaa;
padding: 2px 1px 2px 10px;
}

#nav ul ul
{
margin-left: 30px;
padding: 0;
list-style-type: none;
}

#nav li li a
{
display: block;
color: #333;
background-color: transparent;

padding: 2px 10px;
margin: 0;
border-top: none;
border-bottom: none;
border-left: 1px solid #aaa;
text-decoration: none;

}



/* nav end */